<form class="dodaj_termin jumbotron col-sm-offset-4 col-sm-4 img-rounded">   
    <div *ngIf="error_termin_zajety" class="alert alert-danger" role="alert" id="form-alert" >
            <span aria-hidden="false" class="glyphicon glyphicon-alert"></span> 
            W tym dni nie ma wolnych terminów u wybranego lekarza!
    </div>
    
    <div class="form-group">
        <select (change)="onChange($event.target.value)" class="form-control">
            <option *ngFor="#lekarz of lekarze" [value]="lekarz">{{lekarz.imie}} {{lekarz.nazwisko}}</option>
        </select>
    </div>
    <div class="form-group">
        <input type="date" class="form-control" (change)="dataOnChange($event.target.value)" placeholder="Data wizyty" ngControl="data" required="">
    </div>
    <div class="form-group">
        <select  class="form-control" ngControl="godzina" (change)="godzinaOnChange($event.target.value)">
            <option *ngFor="#godzina of godziny" [value]="godzina">{{godzina}}:00</option>
        </select>
        <!--<input type="text" class="form-control" placeholder="Godzina wizyty" ngControl="godzina" required="">-->
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="error_nie_wybrano_godziny"  class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Umów się na wizytę</button>
    </div>
    
</form>
