<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

    <body>
        <div class="col-sm-offset-1 col-sm-3 text-center logowanie_lekarza">
            <div class="login_page_jubotron img-rounded">
                <div class="login_form col-sm-12">
                    <div class="col-sm-10">
                        <div class="form-group">
                        <label for="user_login">Login:</label>
                        <input type="text" class="form-control" id="user_login">
                        </div>

                        <div class="form-group">
                            <label for="user_pass">Hasło:</label>
                            <input type="password" class="form-control" id="user_pass">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <img src="/assets/img/key.png" width="50" height="108" alt="key"/>

                    </div>
                    
                </div>
                <div class="col-sm-12">
                        <button type="button" class="btn btn-info zaloguj_btn">Zaloguj</button>
                </div>
            </div>
        </div>
    </body>
