<head>
    <script type="text/javascript" src="/app/components/modules/uzytkownik/views/logowanie/logowanie.js">alert("cos");</script>
</head>
<body>
    

    <div class="col-sm-12" style="white-space: nowrap;">
        <div class="col-sm-2 home_header_picture_div">
        <img src="/assets/img/logo.png" width="98" height="37" alt="logo"/>


        </div>
        <div class="col-sm-10 header_text home_header_div">
            <span>
                Elektroniczna Platforma
                <br>
                Obsługi Przychodni

            </span>
        </div>
    </div>

    <div class="col-sm-12" style="margin-top: 60px; ">


        <div class="col-sm-4  text-center jumbotron home_page_jumbotron img-rounded" (click)="navigate(['../Home'])">
            <img style="align-content: center; " src="/assets/img/People-Patient-Male-icon.png" width="256" height="256" alt="People-Patient-Male-icon"/>
            <h2>Jestem pacjentem</h2>
            <h5>Kliknij poniżej jeżeli jesteś pacjentem i chcesz się zarejestrować 
            , bądź wejść na swój panel</h5>
            <!--<a href="#" class="btn btn-default" role="button">Panel pacjenta</a>-->
        </div>

        <div onclick="window.location='#'" class="col-sm-4 col-sm-offset-1 text-center jumbotron home_page_jumbotron img-rounded">
            <img src="/assets/img/doctor.png" width="256" height="256" alt="doctor"/>
            <h3>Jestem pracownikiem przychodni</h3>
            <h5>Kliknij poniżej jeżeli jesteś pracownikiem przychodni i chcesz 
            skorzystać z możliwości jakie oferuje ta platforma</h5>
            <!--<a href="#" class="btn btn-default" role="button">Panel lekarza</a>-->
        </div>
        
        <div class="col-sm-3">
            <div class="col-sm-12 well home_page_well system_epop">
                <img src="/assets/img/question_mark.png"  alt="Co to jest?" class="img-rounded home_img center-block"/>

                <h4>
                    CZYM JEST SYSTEM EPOP?
                </h4>
                <h6 id="system_epop_h6">
                    System EPOP jest platformą pozwalającą na łatwy dostęp do wszystkich danych, które posiada przychodnia. Upraszcza także rejestrację do lekarza
                </h6>
            </div>
            <div class="col-sm-12 well home_page_well kto_moze_korzystac">
                <img src="/assets/img/question_who.png"   alt="question_who" class="img-circle home_img center-block"/>

                <h4>
                    KTO MOŻE KORZYSTAĆ Z uDUŚ?
                </h4>
                <h6 id="kto_moze_korzystac_h6">
                    Wszyscy pacjenci przychodni a także jej pracownicy.
                </h6>
            </div>
            <div class="col-sm-12 well home_page_well co_zrobic_uzytkownik">
                <img src="/assets/img/palm_shake.png"  alt="palm_shake" class="img-circle home_img center-block"/>

                <h4>
                    CO ZROBIĆ, ABY STAĆ SIĘ UŻYTKOWNIKIEM SYSTEMU
                </h4>
                <h6 id="co_zrobic_uzytkownik_h6">
                    Należy się zarejestrować poprzez panel pacjenta, lub zadzwonić do przechodni wtedy wszystkie operacje przeprowadzi wykwalifikowany personel.
                </h6>
            </div>
        </div>

    </div>
    






    <h2 id="content-header">Logowanie</h2>

    <form [ngFormModel]="form" (submit)="$event.preventDefault(); onSubmit(form.value)"
        class="fa navbar-form navbar-left form-singin">
        <div *ngIf="error" class="alert alert-danger" role="alert" id="logowanie_alert" >
                <span aria-hidden="false" class="glyphicon glyphicon-alert"></span> 
                Błędne dane logowania :(
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Login" ngControl="login" required="">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Hasło" ngControl="haslo" required="">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> Zaloguj</button>
        </div>
    </form>
</body>
