
<div id="content-header">{{uzytkownik.getTypUzytkownika()}}</div>

<div>Login: {{uzytkownik.getLogin()}}</div>
<div>Imię: {{uzytkownik.getImie()}}</div>
<div>Nazwisko: {{uzytkownik.getNazwisko()}}</div>
<div>PESEL: {{uzytkownik.getPesel()}}</div>
<div>Telefon: {{uzytkownik.getTelefon()}}</div>
<div>E-mail: {{uzytkownik.getEmail()}}</div>

<a href="#" (click)="onLogout()">
    <button class="btn btn-danger" type="submit">
        <span class="glyphicon glyphicon-remove-sign"></span> Wyloguj
    </button>
</a>
