body
{
    background-image:url(/assets/img/bg.jpg);
}
.home_header_div
{
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ccc;
    display: inline-block;
    
}
.home_header_picture_div
{
    display: inline-block;
    float:left;
}
.home_page_jumbotron
{
    background-image: url(/assets/img/home_jumbotron.png);
    background-size: auto;
    color: #f8f8f8;
    
}