html
{
    overflow-y: scroll;
}
body
{
    background-image:url(../img/bg.jpg);
   background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
}
.form-control
{
    color: white; 
}
.home_header_div
{
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ccc;
    display: inline-block;
    
    
}
.home_header_picture_div
{
    display: inline-block;
    float: left;
    margin-left: 70px;
}
.home_page_jumbotron
{
    margin-top: 40px;
    background-image: url(../img/home_jumbotron.png);
    background-size: 200%;    
    color: #f8f8f8;   
    
}
.patient_registration
{
    background-image: url(../img/registration_page_background.jpg);
    background-size: cover;
    color: #f8f8f8; 
}
.nopadding
{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 16px;
}
.doctor_data
{
    margin-top: 7%;
    
    color:#E9EBEC;
    background-image: url(../img/personal_data_background.jpg);
    background-size: cover;
    
    
}
.home_img
{
    width: 50px;
    height: 50px;
}
.doctor_callendar
{
    background-image: url(../img/callendar_border.jpg);
    background-size: cover;
    
}

.home_page_right_panel
{
    margin-top: 40px;
}

.home_page_jumbotron:hover
{
    background-image: url(../img/home_jumbotron_hover.png);
    background-size: auto;
    cursor: pointer;    
    color: #f8f8f8;
}
.login_page_jubotron
{
    background-image: url(../img/login_page_jumbotron.jpg);
    padding-left:10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-size: cover;
}
.login_form
{
    width: 400px;
}
.zaloguj_btn
{
    margin-top: 20px;
    width: 100%;
}
.logowanie_lekarza
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 10%;
}
.login_key_picture
{
    margin-top: 25px;
}
.customer-page-carousel
{
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 15px;
    float: left;
    width: 50%;
   
    
}
.login_customer_carousel
{
    background-image: url(../img/login_carousel.jpg);
    background-size: cover;
    color: black;
}
.item
{
    height: 100vh;
    padding-top: 40%;
    width: 85%;
    padding-left: 10%;
}

#content-header
{
    font-size: 150%;
}
.patient_list_temp
{
    font-weight: bold;
    color: black;
    background-image: url(../img/1511.jpg);
    background-size: cover;
}
.pacjenci_lista_row
{
    position: relative;
    z-index: 1;
    height: 70px;    
    margin-bottom: 10px;
    
}

.pacjenci_lista_row .pacjenci_lista_row_background{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .4;
    width: 100%;
    height: 100%;
    background-color: #2aabd2;
    opacity: 0.5;
}

.pacjent_historia_button
{
    height: 50px;
}

.pacjent_historia_header
{
    color:white;
    margin-bottom: 100px;
}

.wizyta_szczegoly_container
{
/*    position: relative;*/
    width: 545px;
    height: 772px;
}
.wizyta_szczegoly_text
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 263px;
    left: 487px;
}

.wizyta_szczegoly_text #pacjent {
    position: absolute;
    top: -106px;
    left: -100px;
    font-size: 20px;
}
.wizyta_szczegoly_text #lekarz {
    position: absolute;
    top: 456px;
    font-size: 20px;
    left: -144px;
}
.wizyta_szczegoly_text #data {
    position: absolute;
    top: -57px;
    left: 110px;
    font-size:20px;
}
.wizyta_szczegoly_text #wizyta_tytul {

    font-size:22px;
}
.wizyta_szczegoly_text #wizyta_opis {

    font-size: 20px;
    position: absolute;
    top: 90px;
    left: -221px;
}