
<div id="content-header">Lista pacjentów</div>

<div *ngFor="#pacjent of pacjenci; #i = index">
    <h3 class="col-lg-4">Login: {{pacjent.login}}</h3>
    <div class="col-lg-4">Imię: {{pacjent.imie}}</div>
    <div class="col-lg-4">Nazwisko: {{pacjent.nazwisko}}</div>
    <div class="col-lg-4">PESEL: {{pacjent.pesel}}</div>
    <div class="col-lg-4">Telefon: {{pacjent.telefon}}</div>
    <div class="col-lg-4">E-mail {{pacjent.email}}</div>
    <div  class="col-lg-4">Lekarz: {{getDaneLekarza(i)}} </div>
    <a *ngIf="!czyPrzypisany(i)" (click)="przypiszPacjenta(i)">
        <button type="button" class="btn btn-warning">
            Przypisz pacjenta
        </button>
    </a>
    <a (click)="onSelect(pacjent)">
        <button type="button" class="btn btn-warning">
                Historia pacjenta
        </button>
    </a>
</div>