<div class="container jumbotron img-rounded patient_list_temp">
    <div class="pacjent_historia_header">
        <div id="content-header" >Lista wizyt    </div>
        <h3 class="col-lg-4">Login: {{pacjent.login}}</h3>
        <div class="col-lg-4">Imię: {{pacjent.imie}}</div>
        <div class="col-lg-4">Nazwisko: {{pacjent.nazwisko}}</div>
        <div class="col-lg-4">PESEL: {{pacjent.pesel}}</div>
        <div class="col-lg-4">Telefon: {{pacjent.telefon}}</div>
        <div class="col-lg-4">E-mail {{pacjent.email}}</div>
    </div>

        
        <div class="col-sm-12 pacjenci_lista_row " *ngFor="#wizyta of wizyty; #i = index">
            <div class="pacjenci_lista_row_background img-rounded"></div>  
                <div>
                    <h4 class='col-sm-6'><strong>{{i+1}}. Data: {{wizyta.data_wizyty}}, Choroba: {{wizyta.choroba_nazwa}}, Opis choroby: {{wizyta.choroba_opis}}</strong></h4>
                    <div class='col-sm-6'>
                        <h4 class="col-sm-4"><button class="btn btn-info pacjent_historia_button btn-raised" (click)="navigateToSzczegoly(wizyta)" >Wyświetl szczegóły</button></h4>
                        <h4 class="col-sm-4"><button class="btn btn-warning pacjent_historia_button btn-raised" (click)="navigateDodajSkierowanie(wizyta)" >Dodaj skierowanie</button></h4>
                        <h4 class="col-sm-4"><button class="btn btn-warning pacjent_historia_button btn-raised" (click)="navigateDodajRecepte(wizyta)" >Dodaj receptę</button></h4>
                    </div>
                </div>
            
        </div>
    </div>
    